<a href="https://colab.research.google.com/github/RafiShiddik/Visualisasi-Data-in-Python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [ ]:
df = pd.read_csv('e-commerce_example_dataset.csv')

In [ ]:
?st.ttest_ind

In [ ]:
discount = df[df['discount'] == 'discount']
not_discount = df[df['discount'] != 'discount']
print(discount.shape)
print(not_discount.shape)

(65, 3)
(35, 3)

In [ ]:
ttest = st.ttest_ind(a = discount['gmv'], b = not_discount['gmv'])
ttest.pvalue

0.0009942306670295464

In [ ]:
p_value = ttest.pvalue
print('p_value :', p_value)
if p_value > 0.05:
  print('tidak cukup bukti rata-rata gmv discount memiliki nilai yang jauh berbeda signitifkan dengan non discount')
else:
  print('cukup bukti menyatakan nilai rata-rata gmv discount memiliki nilai yang jauh berbeda siginitifikan dengan non discount')

p_value : 0.0009942306670295464
cukup bukti menyatakan nilai rata-rata gmv discount memiliki nilai yang jauh berbeda siginitifikan dengan non discount

In [ ]:
df2 = pd.read_csv('Iris.csv')

NameError: name 'pd' is not defined

In [ ]:
df_versicolor = df2[df2['Species']=='Iris-versicolor']
df_setosa = df2[df2['Species']=='Iris-setosa']
df_virginica = df2[df2['Species']=='Iris-virginica']

In [ ]:
anova_test = st.f_oneway(df_versicolor['SepalWidthCm'],
                          df_setosa['SepalWidthCm'],
                          df_virginica['SepalWidthCm'],
                          )

In [ ]:
print(anova_test.pvalue)

1.3279165184572242e-16

In [ ]:
if anova_test.pvalue>0.05:
  print('Species memiliki rata-rata SepalWidthCm yang sama')
else:
    print('Species emiliki rata-rata SepalWidthCm yang berbeda secara signitifikan')

Species emiliki rata-rata SepalWidthCm yang berbeda secara signitifikan

In [ ]:
df2.groupby(['Species'])['SepalWidthCm'].mean()

Species
Iris-setosa        3.418
Iris-versicolor    2.770
Iris-virginica     2.974
Name: SepalWidthCm, dtype: float64